h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

#note {
    height: 100%;
    width: 100%;
    position: absolute;
}

#note-section {
    flex-basis: 55%;
    height: 100%;
    width: 100%;
}

#notebooks-section, #sections-section, #pages-section {
    flex-basis: 15%;
}

#notebooks-list, #sections-list, #pages-list {
    width: 100%;
}
