body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

header {
    box-shadow: 5px 5px 15px #888888;
}

header h2{
    padding: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: row;
}

#note {
    height: 100%;
}

#note div {
    box-shadow: 2px 2px 5px #888888;
    padding: 10px;
    margin: 10px;
}

#note-section {
    flex-basis: 55%;
}

#notebooks-section, #sections-section, #pages-section {
    flex-basis: 15%;
}

#notebooks-list, #sections-list, #pages-list, #note-section {
    width: 100%;
}
