<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OneNote Web App</title>
        <link href="static/css/onenote.css" rel="stylesheet">
        <script src="static/js/jquery.js"></script>
        <script src="static/js/onenote.js"></script>
    </head>
    <body>
        <header>
            <h1>OneNote Web App demo</h1>
            <h2>{{ name }}'s Notes</h2>
        </header>
        <main>
            <section id="notebooks-section">
                <select id="notebooks-list" size="25"></select>
                <button id="refresh">Refresh Notebooks</button>
            </section>

            <section id="sections-section">
                <select id="sections-list" size="25"></select>
            </section>

            <section id="pages-section">
                <select id="pages-list" size="25"></select>
            </section>

            <section id="note-section">
                <div id="note" contenteditable="true"></div>
            </section>
        </main>
    </body>
</html>